@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #0059d9;
  background-color: #f6f6ec;
}

h1 {
  color: black !important;
}

hr {
  border: 1px solid lightgray;
}

/* ACCORDION */ 
.accordion {
  padding: 1rem;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  transition: all ease 0.25s;
}

.accordion:hover {
  color: black;
}

/* TAB */ 
.tab input {
  display: none;
}

.tab label {
  font-size: 1.6rem;
  cursor: pointer;
  display: block;
  padding: 1rem 0;
  width: 100%;
}

.tab input:checked ~ label { 
  color: black !important;
}

img {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: 0.4s;
  margin: 0 auto;
  display: block;

}

 .tab input:checked ~ label img { 
  opacity: 1;
  width: 25rem;
  height: 25rem;
  display: block;
  padding: 1rem 0 0 1rem;
  margin: 0 auto;
  animation: fadeIn 0.4s;
}

.accordion:hover .tab:hover label img{ 
  opacity: 1;
  width: 25rem;
  height: 25rem;
  display: block;
  padding: 1rem 0 0 1rem;
  margin: 0 auto;
  animation: fadeIn 0.4s;
}

/* ICONS APPEAR ON HOVER */ 
.accordion:hover label:before {
  font-family: 'FontAwesome';
  content: '\f067';
  float: right;
  transition: all 0.25s;
  animation: fadeIn 0.3s;
}

.tab input:checked+label:before {
  transform: rotate(135deg);
  transition: all 0.25s;
}

.tab input:hover+label:before {
  transform: rotate(135deg);
  transition: all 0.25s;
} 

/* ANIMATION RULES */ 
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}